body {
  height: 100vh;
  background-color: #e1f3fa; }

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 4px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #1a2238;
  font-family: sans-serif;
  overflow: hidden; }

.moon {
  position: absolute;
  top: 10%;
  left: 18%;
  height: 93px;
  width: 93px;
  background-color: #fcefbf;
  border-radius: 100%;
  box-shadow: 1px 2px 7px 4px #fcefbf; }
  .moon .crate-1, .moon .crate-2, .moon .crate-5, .moon .crate-3, .moon .crate-4, .moon .crate-6 {
    position: absolute;
    top: 15%;
    left: 25%;
    height: 15px;
    width: 15px;
    background-color: rgba(87, 26, 26, 0.075);
    border-radius: 100%; }
  .moon .crate-2, .moon .crate-5 {
    top: 45%;
    left: 35%; }
  .moon .crate-3, .moon .crate-4 {
    height: 7px;
    width: 7px;
    top: 60%;
    left: 70%; }
  .moon .crate-4 {
    top: 30%;
    left: 65%;
    height: 10px;
    width: 10px; }
  .moon .crate-5 {
    top: 75%;
    left: 38%;
    width: 18px;
    height: 18px; }
  .moon .crate-6 {
    top: 55%;
    left: 12%;
    height: 8px;
    width: 8px; }

.hill-fg-1, .hill-fg-2, .hill-fg-3, .hill-bg-1, .hill-bg-2 {
  position: absolute;
  z-index: 2;
  height: 290px;
  width: 320px;
  background-color: #414174;
  border-radius: 55%;
  top: 60%;
  left: 10%;
  bottom: -50%; }

.hill-fg-2 {
  top: 65%;
  left: -40%; }

.hill-fg-3 {
  top: 65%;
  left: 60%; }

.hill-bg-1, .hill-bg-2 {
  z-index: 1;
  background-color: #2f2f55;
  top: 61%;
  left: -15%; }

.hill-bg-2 {
  top: 63%;
  left: 38%; }

.front {
  position: absolute;
  display: flex;
  z-index: 5;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f5f1f1;
  width: 100%;
  height: 90px; }
  .front .temp {
    display: flex;
    flex: 0.3;
    font-size: 55px;
    align-items: center;
    justify-content: center; }
  .front .info {
    display: flex;
    flex: 0.4;
    align-items: center; }
  .front .days {
    display: flex;
    flex: 0.3;
    align-items: center; }

.drop-1 {
  position: absolute;
  z-index: 10;
  left: 28px;
  width: 10px;
  height: 10px;
  background: #93a7ff;
  border-radius: 50%;
  bottom: 92px;
  animation: drop 1.5s linear 3.25s infinite;
  animation-fill-mode: backwards; }

.drop-2 {
  position: absolute;
  z-index: 10;
  left: 76px;
  width: 10px;
  height: 10px;
  background: #93a7ff;
  border-radius: 50%;
  bottom: 92px;
  animation: drop 0.9s linear 5.5s infinite;
  animation-fill-mode: backwards; }

.drop-3 {
  position: absolute;
  z-index: 10;
  left: 124px;
  width: 10px;
  height: 10px;
  background: #93a7ff;
  border-radius: 50%;
  bottom: 92px;
  animation: drop 2.3s linear 2.5s infinite;
  animation-fill-mode: backwards; }

.drop-4 {
  position: absolute;
  z-index: 10;
  left: 172px;
  width: 10px;
  height: 10px;
  background: #93a7ff;
  border-radius: 50%;
  bottom: 92px;
  animation: drop 1.3s linear 2.5s infinite;
  animation-fill-mode: backwards; }

.drop-5 {
  position: absolute;
  z-index: 10;
  left: 220px;
  width: 10px;
  height: 10px;
  background: #93a7ff;
  border-radius: 50%;
  bottom: 92px;
  animation: drop 2.5s linear 5.5s infinite;
  animation-fill-mode: backwards; }

.drop-6 {
  position: absolute;
  z-index: 10;
  left: 268px;
  width: 10px;
  height: 10px;
  background: #93a7ff;
  border-radius: 50%;
  bottom: 92px;
  animation: drop 2.7s linear 2.25s infinite;
  animation-fill-mode: backwards; }

.drop-7 {
  position: absolute;
  z-index: 10;
  left: 316px;
  width: 10px;
  height: 10px;
  background: #93a7ff;
  border-radius: 50%;
  bottom: 92px;
  animation: drop 1.1s linear 1.75s infinite;
  animation-fill-mode: backwards; }

.drop-8 {
  position: absolute;
  z-index: 10;
  left: 364px;
  width: 10px;
  height: 10px;
  background: #93a7ff;
  border-radius: 50%;
  bottom: 92px;
  animation: drop 2.5s linear 6.75s infinite;
  animation-fill-mode: backwards; }

@keyframes drop {
  0% {
    transform: translate(60px, -310px); }
  60% {
    transform: translate(0, 0); }
  100% {
    transform: scaleX(3) scaleY(0.2); } }
